@use 'variables';

.merchan{
    margin:0 auto;
    padding-bottom: 30px;
    background-color: variables.$black1;

    h2{
        text-align: center;
        font-size: 50px;
        color: variables.$pink1;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 400;
        padding-bottom: 40px;
    }
    img{
        padding-left: 8%;
    }
}